.navBar {
  height: 5vh;
  background-color: #ed8b00;
}

.listContainer {
  margin: 0;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listForm {
  float: left;
  align-items: center;
  margin-right: 2vw;
  margin-left: 2vw;
  position: relative;
  padding: 6px 12px;
}

.listElement,
.listElementBtn {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.listElementBtn {
  cursor: pointer;
}

.listForm::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 0%;
  height: 4px;
  background-color: white;
  transition: all 0.5s ease-out;
}

.listForm:hover::after {
  width: 100%;
}
