.container {
  height: 30vh;
  width: 30vw;
  border: 2px solid gray;
  padding: 0.5rem;
  border-radius: 15px;
}

.title {
  color: #ed8b00;
  margin: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
}

.pBottom {
  margin: 0;
  vertical-align: bottom;
}

.subjectStyle {
  display: flex;
  height: 12%;
  justify-content: space-between;
  margin-right: 5%;
}
