/* styles/SearchBar.module.css */
.searchContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.inputBox {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.frame {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 90vh;
  overflow: auto;
}

.button {
  padding: 8px 16px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: darkorange;
}

.layout {
  display: grid;
  grid-template-columns: 2fr 7fr;
  max-height: 90vh;
  overflow: auto;
}

.leftFrame {
  max-height: 90vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
  border-right: 1px solid black;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
}
