.container {
  height: 30vh;
  width: 30vw;
  border: 2px solid gray;
  padding: 0.5rem;
}

.title {
  color: #ed8b00;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.subjectStyle {
  height: 12%;
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
}

.contents {
  height: 75%;
  position: relative;
}
/* 
.pBottom {
  margin: 0;
  vertical-align: bottom;
} */
