.container {
  height: 30vh;
  width: 30vw;
  border: 2px solid gray;
  padding-top: 0.5rem;
}

.title {
  color: #ed8b00;
  margin: 0.5rem;
  text-decoration: none;
}

.pBottom {
  margin: 0;
  vertical-align: bottom;
}

.subjectStyle {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
}

.plusButton {
  border-radius: 50%;
  background-color: orange;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
}
