.article {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vh;
  justify-items: center;
}

.button {
  padding: 8px 16px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: darkorange;
}

.contentTitle {
  padding-bottom: 1.5rem;
}

.contentAdmin {
  padding-bottom: 0.5rem;
}

.btnStyle {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 0.5rem;
}
