.layout {
  display: grid;
  grid-template-columns: 2fr 7fr;
  max-height: 90vh;
}

.leftFrame {
  max-height: 90vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.frame {
  max-height: 90vh;
  overflow: auto;
}
