/* Table.module.css */

.tableContainer {
  max-height: 90vh;
  overflow: auto;
  padding: 1rem;
}

.tableHead,
.tableData {
  width: 20vw;
  height: 10vh;
  border: 1px solid #ddd;
  /* padding: 8px; */
  text-align: left;
}

.tableHead {
  background-color: #f2f2f2;
}
